################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DRF/DesignTimeBuild
/.vs
/DRF.SoilHealthCard.API/obj
/DRF.SoilHealthCard.API/.vs/DRF.SoilHealthCard.API/v17
/DRF.SoilHealthCard.API/.vs/DRF.SoilHealthCard.API
/DRF.SoilHealthCard.API/bin/Debug/net8.0
/DRF.SoilHealthCard.API/.vs/ProjectEvaluation
